---
import BasePageLayout from '../../layouts/BasePageLayout.astro';

const redirectedFrom = Astro.url.searchParams.get('redirectedFrom');
const requestedURL = `${Astro.url.origin}/blog/${redirectedFrom}`;
---

<BasePageLayout title="404 Blog" metaDescription="The page you were looking for could not be found.">
  <header>
    <h1>Oops!</h1>
    <p>
      The page {redirectedFrom ? <a href={requestedURL}>{requestedURL}</a> : 'you were looking for'} could not be found.
      Make sure the URL is correct or try looking for the page on the <a href="/blog">blog</a> page.
    </p>
  </header>
</BasePageLayout>

<style lang="scss">
  header {
    max-width: 50rem;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin: auto;
  }

  h1 {
    font-size: 2.5em;
    width: fit-content;
    background: -webkit-linear-gradient(45deg, var(--accent-1), var(--accent-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  header p {
    font-size: 1.1em;
    color: var(--text-color-2);
  }
</style>
