---
import { getCollection } from 'astro:content';
import BasePageLayout from '../../layouts/BasePageLayout.astro';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((post) => post.data.id === +slug!.split('/')[1]);

if (!post) {
  return Astro.redirect('/404');
}

if (post.slug !== slug) {
  return Astro.redirect(`/blog/${post.slug}`);
}

const { Content } = await post.render();
---

<BasePageLayout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <span>{post.data.createdAt.toLocaleDateString()}</span>
    <Content />
  </article>
</BasePageLayout>

<style lang="scss">
  article {
    width: 80ch;
    margin: auto;
  }
</style>
