---
import BasePageLayout from "../layouts/BasePageLayout.astro";
import PageCard from "../components/PageCard.svelte";
import { getCollection } from "astro:content";

const posts = (await getCollection<"blog">("blog")).sort(
  (a, b) => b.data.id - a.data.id
);
const projects = (await getCollection<"projects">("projects")).sort(
  (a, b) => +b.data.createdAt - +a.data.createdAt
);
---

<BasePageLayout
  title="Joona Aalto"
  metaDescription="This is my personal website where I showcase my work and write blog posts about a variety of topics, such as science, programming, and game development."
  metaKeywords={[
    "Programming",
    "Web development",
    "Technology",
    "Science",
    "Games",
    "Game development",
  ]}
>
  <header>
    <div class="header-content">
      <h1>Joona Aalto</h1>
      <p>
        Hi! I'm a Finnish high school student who loves creating and learning
        new things. I'm interested in all kinds of topics, such as science,
        programming, and game development, and I'm always eager to dive deeper
        into these areas.
      </p>
      <p>
        On this website, you can see some of my <a href="/projects">projects</a
        >, as well as my <a href="/blog">blog</a>
        where I write about whatever I'm interested in or working on.
      </p>
      <p>
        In case you are interested in my previous work or what I'm currently
        working on, you can find me on GitHub as <a
          href="https://github.com/Jondolf">Jondolf</a
        >.
      </p>
    </div>
  </header>

  <main>
    <section>
      <h2>Recent blog posts</h2>
      <div class="page-card-list">
        {posts.slice(0, 3).map((post) => <PageCard page={post} />)}
      </div>
    </section>

    <section>
      <h2>Recent projects</h2>
      <div class="page-card-list">
        {projects.slice(0, 3).map((project) => <PageCard page={project} />)}
      </div>
    </section>
  </main>
</BasePageLayout>

<style lang="scss">
  header,
  section {
    width: 100%;
  }

  header > *,
  section > * {
    max-width: 50rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2.5em;
    width: fit-content;
    background: -webkit-linear-gradient(
      45deg,
      var(--accent-1),
      var(--accent-2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  header {
    padding-bottom: 1.5rem;
  }

  header p {
    font-size: 1.1em;
    color: var(--text-color-2);
  }

  section {
    padding: 1.5rem 0;

    :last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2em;
    color: var(--accent-1);
  }

  h3 {
    font-size: 1.4em;
    color: var(--accent-2);
  }

  .page-card-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    color: var(--text-color-2);
  }
</style>
