---
import BasePageLayout from '../layouts/BasePageLayout.astro';
import Card from '../components/Card.astro';
---

<BasePageLayout
  title="Home"
  metaDescription="This is my personal website where I showcase my projects and write about whatever interests me from science, math and programming, to game development, music and art."
  metaKeywords={['Programming', 'Web development', 'Technology', 'Science', 'Games', 'Game development', 'Art']}
>
    <h1>Welcome to <span class="text-gradient">Gamitopia</span></h1>
    <p class="instructions">
      <strong>Gamitopia</strong> is my place for showcasing my projects, writing about topics that interest me and showing
      my journey as a developer.
    </p>
    <ul role="list" class="link-card-grid">
      <Card href="/projects" title="Projects" body="Discover my projects and try them out!" />
      <Card
        href="/blog"
        title="Blog"
        body="Explore various interesting topics and go through my journey as a developer."
      />
    </ul>
  </main>
</BasePageLayout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent-rgb), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent-rgb), 12%);
    color: var(--accent);
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: var(--accent);
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
