@mixin theme-variables {
  --accent-1-rgb: 0, 100, 200;
  --accent-1: rgb(var(--accent-1-rgb));
  --accent-2-rgb: 0, 150, 100;
  --accent-2: rgb(var(--accent-2-rgb));
  --bg-1-rgb: 240, 240, 240;
  --bg-1: rgb(var(--bg-1-rgb));
  --bg-2-rgb: 255, 255, 255;
  --bg-2: rgb(var(--bg-2-rgb));
  --text-color-1-rgb: 10, 10, 10;
  --text-color-1: rgb(var(--text-color-1-rgb));
  --text-color-2-rgb: 50, 50, 50;
  --text-color-2: rgb(var(--text-color-2-rgb));
  --link-color-rgb: 10, 100, 225;
  --link-color: rgb(var(--link-color-rgb));
}

:root {
  @include theme-variables;
}
