---
import type { Post, Project } from '../types';
import SearchBar from './SearchBar.svelte';
const pages = (await Astro.glob<Post | Project>('../pages/*/*/*.md')).sort(
  (a, b) => +b.frontmatter.id - +a.frontmatter.id
);
---

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>

  <div class="search-bar-container">
    <SearchBar client:load items={pages} />
  </div>

  <div class="whitespace"></div>
</nav>

<style lang="scss">
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: auto;
    background-color: var(--bg);
    z-index: 10;
  }

  ul,
  .whitespace {
    flex: 1;
  }

  ul {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: black;

      &:hover {
        color: var(--accent);
      }
    }
  }

  .search-bar-container {
    width: 100ch;
    padding: 0 1rem;
    box-sizing: border-box;
  }
</style>
