---
import { getCollection } from 'astro:content';
import SearchBar from './SearchBar.svelte';

const posts = await getCollection('blog');
const projects = await getCollection('projects');
const pages = [...posts, ...projects].sort((a, b) =>
  a.collection === 'blog' && b.collection === 'blog' ? b.data.id - a.data.id : +b.data.createdAt - +a.data.createdAt
);
---

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
  </ul>

  <div class="search-bar-container">
    <SearchBar client:load items={pages} />
  </div>

  <div class="whitespace"></div>
</nav>

<style lang="scss">
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: auto;
    background-color: var(--bg);
    z-index: 10;
  }

  ul,
  .whitespace {
    flex: 1;
  }

  ul {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: black;

      &:hover {
        color: var(--accent);
      }
    }
  }

  .search-bar-container {
    width: 64rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }
</style>
