---
import { getCollection } from 'astro:content';
import BasePageLayout from '../../layouts/BasePageLayout.astro';

const { slug } = Astro.params;
const projects = await getCollection('projects');
const project = projects.find((project) => project.data.id === +slug!.split('/')[0]);

if (!project) {
  return Astro.redirect('/404');
}

if (project.slug !== slug) {
  return Astro.redirect(`/projects/${project.slug}`);
}

const { Content } = await project.render();
---

<BasePageLayout title={project.data.title}>
  <article>
    <h1>{project.data.title}</h1>
    <span>{project.data.createdAt.toLocaleDateString()}</span>
    <Content />
  </article>
</BasePageLayout>

<style lang="scss">
  article {
    width: 80ch;
    margin: auto;
  }
</style>
