---
import { CollectionEntry, getCollection } from "astro:content";
import PageCard from "../../components/PageCard.svelte";
import BasePageLayout from "../../layouts/BasePageLayout.astro";

const projects = (await getCollection<"projects">("projects")).sort(
  (a, b) => +b.data.createdAt - +a.data.createdAt
);
const projectsByYear = new Map<number, CollectionEntry<"projects">[]>();

for (const project of projects) {
  const year = new Date(project.data.createdAt).getFullYear();

  if (!projectsByYear.has(year)) {
    projectsByYear.set(year, []);
  }
  projectsByYear.get(year)?.push(project);
}
---

<BasePageLayout
  title="Projects - Joona Aalto"
  metaDescription="Discover my games, apps and other projects."
  metaKeywords={["Projects", "Games", "Apps", "Science", "Simulation"]}
>
  <header>
    <h1>Projects</h1>
    <p>Discover my projects and try them out for yourself!</p>
  </header>

  <div class="projects">
    {
      [...projectsByYear.entries()].map(([year, projects]) => (
        <div class="project-group">
          <h2>{year}</h2>
          <ul>
            {projects.map((project) => (
              <PageCard page={project} client:load />
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</BasePageLayout>

<style lang="scss">
  header,
  .projects {
    max-width: 50rem;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    margin: auto;
  }

  h1 {
    font-size: 2.5em;
    width: fit-content;
    background: -webkit-linear-gradient(
      45deg,
      var(--accent-1),
      var(--accent-2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    color: var(--accent-1);
  }

  header p {
    font-size: 1.1em;
    color: var(--text-color-2);
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .project-group ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }
</style>
